@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
  max-width: 1000px;
  width: 80vw;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 25px 0 25px;
}

.title {
  color: var(--colour-text);
  text-align: center;
  font-size: 36px;
}

.btnContainer {
  display: flex;
  gap: 10px;
}

.backBtn {
  height: 40px;
  width: 150px;
  padding: 0 10px;
  border-radius: 40px;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
  color: var(--colour-text);
  background: transparent;
  border: 2px solid var(--colour-text);
}

.backBtn:hover,
.backBtn:focus {
  background: var(--colour-text);
  color: black;
}

.deleteBtn {
  height: 40px;
  width: 150px;
  padding: 0 10px;
  border-radius: 40px;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
  color: #faa0a0;
  background: transparent;
  border: 2px solid #faa0a0;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background: #faa0a0;
  color: black;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
  gap: 25px;
  list-style-type: none;
}

.loader {
  border: 5px solid var(--colour-text);
  border-top: 5px solid var(--colour-primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
}

.largeLoader {
  margin-top: 49px;
  border: 16px solid var(--colour-text);
  border-top: 16px solid var(--colour-primary);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.prompt {
  color: var(--colour-text);
  margin-top: 49px;
  font-size: 25px;
}

.errorContainer {
  background: linear-gradient(
    180deg,
    var(--colour-secondary) 0%,
    var(--colour-dark) 100%
  );
  border-radius: 20px;
  padding: 20px 25px;
  width: 1000px;
  max-width: 80vw;
}

.error {
  font-size: 20px;
  font-weight: 500;
  color: #faa0a0;
  text-align: center;
}

@media screen and (max-width: 830px) {
  .titleContainer {
    flex-direction: column;
    gap: 20px;
  }
}
