@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
  gap: 49px;
}

.title {
  color: var(--colour-text);
  text-align: center;
  font-size: 30px;
}

.logoutBtn {
  height: 40px;
  width: 350px;
  max-width: 100%;
  padding: 0 10px;
  margin-top: 10px;
  color: #faa0a0;
  background: transparent;
  border: 2px solid #faa0a0;
  border-radius: 40px;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.logoutBtn:hover,
.logoutBtn:focus {
  background: #faa0a0;
  color: black;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--colour-secondary) 0%,
    var(--colour-dark) 100%
  );
  border-radius: 20px;
  padding: 20px 25px;
  width: 1000px;
  max-width: 80vw;
}

.error {
  font-size: 20px;
  font-weight: 500;
  color: #faa0a0;
}
