@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
  gap: 20px;
  text-align: center;
}

.resultsShown {
  color: var(--colour-text);
  font-size: 20px;
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.currentPage {
  color: var(--colour-text);
  font-size: 25px;
  font-weight: 500;
}

.navBtn {
  height: 30px;
  padding: 0 10px;
  color: var(--colour-text);
  background: transparent;
  border: 2px solid var(--colour-text);
  border-radius: 40px;
  font-size: 15px;
  transition: 0.4s;
  cursor: pointer;
}

.navBtn:hover {
  background: var(--colour-text);
  color: black;
}
