@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.title {
  color: var(--colour-text);
  text-align: center;
  font-size: 30px;
}

.prompt {
  color: var(--colour-text);
  margin-top: 98px;
  font-size: 25px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
  gap: 25px;
  list-style-type: none;
}

.errorContainer {
  background: linear-gradient(
    180deg,
    var(--colour-secondary) 0%,
    var(--colour-dark) 100%
  );
  border-radius: 20px;
  padding: 20px 25px;
  width: 1000px;
  max-width: 80vw;
}

.notFound {
  font-size: 20px;
  font-weight: 500;
  color: #faa0a0;
}

.loader {
  margin-top: 49px;
  border: 10px solid var(--colour-text);
  border-top: 10px solid var(--colour-primary);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
