@import "../../vars.css";

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 98px 10% 49px 10%;
  gap: 30px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 15px;
}

.title {
  color: var(--colour-text);
  font-size: 50px;
}

.details {
  color: var(--colour-text);
  font-size: 25px;
}

.imagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  row-gap: 30px;
  width: 50%;
}

.mainImage {
  width: 100%;
}

.alternateImage {
  width: 30%;
}

.placeholderImage {
  width: 80%;
}

.loader {
  margin-top: 49px;
  border: 10px solid var(--colour-text);
  border-top: 10px solid var(--colour-primary);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
  }

  .imagesContainer {
    width: 100%;
  }

  .detailsContainer {
    width: 100%;
  }
}
