@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 49px;
}

.searchInput {
  height: 40px;
  width: 350px;
  max-width: 70vw;
  font-size: 18px;
  border: 2px solid var(--colour-text);
  border-right: none;
  border-radius: 40px 0 0 40px;
  border-right: none;
  padding: 2px 10px;
}

.searchBtn {
  height: 40px;
  width: 50px;
  border: 2px solid var(--colour-text);
  border-radius: 0 40px 40px 0;
  background: transparent;
  color: var(--colour-text);
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.searchBtn:hover,
.searchBtn:focus {
  background: var(--colour-text);
  border-left: 2px solid black;
}
