@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 98px 10% 100px 10%;
}

.easelContainer {
  background: var(--colour-text);
  border-radius: 50%;
  width: 154px;
  height: 154px;
  box-shadow: 30px -20px var(--colour-primary);
}

.easel {
  padding: 20px 32px 20px 32px;
}

.title {
  color: var(--colour-text);
  font-size: 25px;
  white-space: pre;
  text-wrap: wrap;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 24px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  color: var(--colour-text);
  text-align: center;
  margin-top: 49px;
  gap: 15px;
  font-size: 20px;
  background: linear-gradient(
    180deg,
    var(--colour-secondary) 0%,
    var(--colour-dark) 100%
  );
  padding: 20px 30px;
  border-radius: 40px;
}
