@import "./vars.css";

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 98px;
}

.app main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skipToMain {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.skipToMain:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
