@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    var(--colour-secondary) 0%,
    var(--colour-dark) 100%
  );
  border-radius: 20px;
  padding: 20px 25px;
  width: 1000px;
  max-width: 80vw;
  gap: 2%;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 58%;
  gap: 5px;
  margin: 0.5em 0;
}

.title {
  font-size: 25px;
  margin-bottom: 8px;
}

.titleLink {
  color: var(--colour-text);
  text-decoration: none;
}

.titleLink:hover {
  text-decoration: underline;
}

.details {
  font-size: 20px;
  color: var(--colour-text);
}

.date {
  font-weight: 600;
}

.noImage {
  font-size: 20px;
  color: #faa0a0;
  margin: 10px 0;
}

.addArtefactBtn {
  height: 40px;
  width: 80%;
  padding: 0 10px;
  margin-top: auto;
  color: var(--colour-text);
  background: transparent;
  border: 2px solid var(--colour-text);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.addArtefactBtn:hover,
.addArtefactBtn:focus {
  background: var(--colour-text);
  color: black;
}

.removeArtefactBtn {
  height: 40px;
  width: 80%;
  padding: 0 10px;
  margin-top: auto;
  color: #faa0a0;
  background: transparent;
  border: 2px solid #faa0a0;
  border-radius: 40px;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.removeArtefactBtn:hover,
.removeArtefactBtn:focus {
  background: #faa0a0;
  color: black;
}

.artefactImageContainer {
  max-height: 300px;
  max-width: 40%;
  align-self: flex-start;
}

.artefactImageLink {
  display: block;
  max-height: 300px;
  max-width: 100%;
  border-radius: 20px;
  border: 2px solid transparent;
  overflow: hidden;
}

.artefactImageLink:hover,
.artefactImageLink:focus {
  border: 2px solid var(--colour-primary);
}

.placeholderImage {
  display: block;
  max-height: 200px;
  max-width: 100%;
}

.loader {
  margin-top: 49px;
  border: 10px solid var(--colour-text);
  border-top: 10px solid var(--colour-primary);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .detailsContainer {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .addArtefactBtn {
    font-size: 15px;
    min-width: 218px;
    width: 90%;
  }

  .removeArtefactBtn {
    font-size: 15px;
    min-width: 218px;
    width: 90%;
    height: 40px;
  }

  .artefactImageContainer {
    align-self: center;
    margin-bottom: 10px;
    max-width: 100%;
  }
}
