@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--colour-secondary);
  border-radius: 40px;
  padding: 20px 25px;
  width: 1000px;
  max-width: 80vw;
  gap: 15px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0.5em 0;
}

.title {
  font-size: 25px;
  font-weight: 600;
  max-width: 500px;
  color: var(--colour-text);
}

.details {
  font-size: 20px;
  font-weight: 500;
  color: var(--colour-text);
}

.noImage {
  font-size: 20px;
  font-weight: 500;
  color: #faa0a0;
}

.addArtefactBtn {
  height: 40px;
  width: 280px;
  padding: 0 10px;
  margin-top: auto;
  color: var(--colour-text);
  background: transparent;
  border: 2px solid var(--colour-text);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.addArtefactBtn:hover {
  background: var(--colour-text);
  color: black;
}

.removeArtefactBtn {
  height: 40px;
  width: 280px;
  padding: 0 10px;
  margin-top: auto;
  color: #faa0a0;
  background: transparent;
  border: 2px solid #faa0a0;
  border-radius: 40px;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.removeArtefactBtn:hover {
  background: #faa0a0;
  color: black;
}

.notFound {
  font-size: 20px;
  font-weight: 500;
  color: #cc0000;
}

.artefactImage {
  max-height: 300px;
  max-width: 50%;
  border-radius: 40px;
  align-self: flex-start;
}

.placeholderImage {
  max-height: 200px;
  max-width: 35%;
  border-radius: 40px;
  align-self: flex-start;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .detailsContainer {
    align-items: center;
    text-align: center;
  }

  .addArtefactBtn {
    min-width: 173px;
    max-width: 60vw;
    margin-top: 1em;
  }

  .removeArtefactBtn {
    font-size: 18px;
    min-width: 218px;
    max-width: 60vw;
    height: 42px;
    margin-top: 1em;
  }

  .artefactImage {
    align-self: center;
    max-width: 100%;
  }

  .placeholderImage {
    align-self: center;
    max-width: 70%;
  }
}
